/* body {
    background: url(pictures/background.jpg) no-repeat;
    background-size:cover;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
h3{
    margin-bottom: -1px;
    letter-spacing: 1px;
    font-weight: 100;
    font-size: 200;
    text-align: left;
}
li:hover, :visited, :link, :active{
    text-decoration: none;
    color: lightblue;
}
ul{
    list-style: none;
    text-align: left;
    margin-top: -1px;
    margin-left: -38px;
  
} */