body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: black;
    font-family: Roboto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    /* position:fixed; */
    padding-top: 15px;
    width: 100%;
    /* margin-top: -5%; */
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-height: 8vh; */
    font-family: 'Century Gothic', sans-serif;
    /* background-color: #343233; */
    /*background: #282627;*/
    font-weight: 100;
}
.fixed{
    position:fixed;
    top:0;
}
.logo{
    margin-right: 40%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}
.nav-links{
    list-style: none;
    display:flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links a{
    margin-left: 100%;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3.5px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: transform 0.1s ease-in;
}
@media screen and (max-width:580px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        list-style: none;
        position: absolute;
        right:0;
        height: 92vh;
        /* top: 8vh; */
        /* background-color: #343233; */
        display: flex;
        flex-direction: column;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
   }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: 10%;
    }
    .navbar{
        margin-top: 0%;
        position: fixed;
        display:flex;
        top:0;
        width: 100%;
    }
    /*
    .projects-content{
        margin-top: -10%;
    }
    .section {
        width:102%;
    }
    */
    div.box {
        width: 100%;
        /* margin-top: 10%; */
    }
    .nav-links li {
        width: 0%;
        margin-left: 30%;
    }
}
.nav-active{
    transform:translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);

    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -8px);
}








.box{
    width: 450px;
    /* background: #282627; */
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    padding-bottom: 80px;
    font-family: 'Century Gothic', sans-serif;
}
.section{
    background: #282627;
    padding: 40px;
    text-align: center;
    margin: auto;
    font-family: 'Century Gothic', sans-serif;
    justify-content: center;
}
.section.container{
    justify-content: center;
    text-align: center;
    /* margin: 6px; */
}
.section h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #ffffff;
}
div.projects-content{
    justify-content: center;
    text-align: center;

}
ul.project-list{
    list-style: none;
    text-align: center;
    justify-content: center;
    margin-top: 2%;
}
.project-list li {
    margin: 3% 0;
}
.project-list a{
    text-decoration: none;
    color: #ffffff;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    color: #ffffff;
}
.box h5 {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 100;
    color: #ffffff;
}
h6{
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 100;
    color: #ffffff;
}
.box h6{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 10px;
    /* margin-top: 10px; */
    color: #ffffff;
}
.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
    transition: .2s;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 5px;
}

/* facebook */
.box ul li:nth-child(1):hover {
    color: #00c3ff;
    box-shadow: 0 0 15px #00b7ff;
    text-shadow: 0 0 15px #0acaec;
    transform: scale(1.5);
}
/* instagram */
.box ul li:nth-child(2):hover {
    color: #26a4f2;
    box-shadow: 0 0 15px #C71585;
    text-shadow: 0 0 15px #C71585;
    transform: scale(1.5);
}
/* email */
.box ul li:nth-child(3):hover {
    color: #e23670;
    box-shadow: 0 0 15px #87CEFA;
    text-shadow: 0 0 15px #87CEFA;
    transform: scale(1.5);
}
/* linkedin */
.box ul li:nth-child(4):hover {
    color: #2a6cbb;
    box-shadow: 0 0 15px #FFFFF0;
    text-shadow: 0 0 15px #FFFFF0;
    transform: scale(1.5);
}


#vanta-birds {
    width: 100vw;
    z-index: 1;
}
.zoomIn {
    transition: .2s;
}
.zoomIn:hover {
    transform: scale(1.5);
}
.zoomIn a:hover {
    color: orange !important;
}